/*RESPONSIVE*/






@media screen and (max-width:1200px) {
    #AlgunosTrabajos{
        height: 820px;
    }
}
@media screen and (max-width:750px) {
    #AlgunosTrabajos{
        height: 1300px;
    }
}


@media screen and (max-width:990px) {
    #Index{
        height: 880px;
    }
}
/*320px.
480px.
600px.
768px.
900px.
1024px.
1200px.*/